---

import Css from "../components/icons/Css.astro";
import Django from "../components/icons/Django.astro";
import Html from "../components/icons/Html.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import PostgreSQL from "../components/icons/PostgreSQL.astro";
import Python from "../components/icons/Python.astro";

const TAGS = {
    
    DJANGO:{
        name: "Django",
        class:"text-white",
        icon: Django,
    },
    PYTHON:{
        name: "Python",
        class:" text-white",
        icon: Python,
    },
    HTML:{
        name: "HTML",
        class:"text-white",
        icon: Html,
    },
    CSS:{
        name: "CSS",
        class:" text-white",
        icon: Css,
    },
    JAVASCRIPT:{
        name: "JavaScript",
        class:"text-white",
        icon: JavaScript,
    },
    POSTGRESQL:{
        name: "PostgreSQL",
        class:"text-white",
        icon: PostgreSQL,
    }
};
const PROJECTS = [
    {
        title: "Back-Travel",
        description:"Back-Travel, Back Office para las agencias de viajes.",
        link: "https://back-travel.com/",
        image: "projects/proyectobacktravel.png",
        tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.POSTGRESQL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
    },
    {
        title: "Memorama ",
        description:"Memorama, creado como mini proyecto en clase.",
        link: "https://github.com/Adhett/Juego-de-memoria",
        image: "projects/juegomemoria.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
    }
]
---
{
  PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex gap-6 items-start mb-8">
      <a href={link} target="_blank" rel="noopener noreferrer" class="flex-shrink-0">
        <img
          class="w-[400px] h-auto rounded shadow-2xl shadow-white/20 transition duration-500 hover:scale-105 object-cover"
          src={image}
          alt={title}
        />
      </a>
      <div class="flex flex-col justify-start">
        <h3 class="text-2xl font-semibold text-purple-400 opacity-60">{title}</h3>
        <p class="text-lg mb-2 text-pretty">{description}</p>
        <ul class="flex flex-wrap gap-2">
          {tags.map((tag) => (
            <li>
              <span class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2`}>
                <tag.icon class="size-7" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
}

